.container {
  font-family: var(--font-family);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.title {
  font-weight: 800;
  font-size: clamp(30px, 3vw, 40px);
  line-height: 100%;
  text-transform: uppercase;
  margin-top: clamp(45px, 8vw, 113px);
  margin-bottom: clamp(40px, 8vw, 120px);
  text-align: center;
}

.textWrapper {
  width: 83%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.paragraph {
  font-weight: 800;
  font-size: clamp(20px, 5vw, 48px);
  line-height: 100%;
  width: 70%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.textWrapper .paragraph:nth-of-type(2) {
  text-align: end;
  align-self: flex-end;
  width: 60%;
}

.violetText {
  color: var(--violet-color);
}

.paragraph.show {
  opacity: 1;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: clamp(10px, 4vw, 70px);
  gap: 70px;
  margin-bottom: 2%;
}

.rightArrow {
  display: none;
  width: 10%;
  position: absolute;
  right: 18%;
  top: 25%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.leftArrow {
  display: none;
  position: absolute;
  width: 32%;
  top: 43%;
  left: 7%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .textWrapper {
    gap: 35px;
  }

  .paragraph {
    width: 75%;
  }

  .textWrapper .paragraph:nth-of-type(2) {
    width: 70%;
  }

  .rightArrow,
  .leftArrow {
    display: block;
  }

  .buttonWrapper {
    flex-direction: column;
    gap: 17px;
    margin-bottom: 0;
    padding-top: 0;
  }
}
