.container {
  font-family: var(--font-family);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.title {
  font-weight: 800;
  font-size: clamp(30px, 3vw, 40px);
  line-height: 100%;
  text-transform: uppercase;
  margin-top: clamp(45px, 8vw, 113px);
  margin-bottom: clamp(40px, 8vw, 120px);
  text-align: center;
}

.textWrapper {
  width: 83%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.violetText {
  color: var(--violet-color);
}

.paragraph {
  font-weight: 800;
  font-size: clamp(20px, 5vw, 48px);
  width: 70%;
  line-height: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: none;
  cursor: default;
  padding: 5px 0;
}

.animate {
  animation: typing 3s steps(30, end) forwards,
    blink-caret 0.75s step-end infinite;
}

.paragraphWrapper {
  display: flex;
  flex-direction: column;
}

.paragraphWrapper:nth-child(2) {
  align-self: flex-end;
}

.item1 {
  animation-delay: 0s;
}

.item2 {
  animation-delay: 1.4s;
}

.item3 {
  animation-delay: 2.3s;
}

.item4 {
  animation-delay: 5.3s;
}

.item5 {
  animation-delay: 8.2s;
}

.item6 {
  animation-delay: 9.5s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: clamp(10px, 4vw, 70px);
  gap: 70px;
  margin-bottom: 127px;
}

.rightArrow {
  display: none;
  width: 10%;
  position: absolute;
  right: 18%;
  top: 25%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.leftArrow {
  display: none;
  position: absolute;
  width: 32%;
  top: 43%;
  left: 7%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .paragraph {
    line-height: 70%;
  }

  .item1 {
    animation-delay: 0s;
  }

  .item2 {
    animation-delay: 2.2s;
  }

  .item3 {
    animation-delay: 3.8s;
  }

  .item4 {
    animation-delay: 6.8s;
  }

  .item5 {
    animation-delay: 9.8s;
  }

  .item6 {
    animation-delay: 11.6s;
  }

  .buttonWrapper {
    flex-direction: column;
    gap: 17px;
    margin-bottom: 0;
    padding-top: 0;
  }

  .rightArrow,
  .leftArrow {
    display: block;
  }
}
