.container {
  font-family: var(--font-family);
  background-color: var(--violet-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 860px;
  height: 132px;
  padding-left: 30px;
  margin-bottom: 35px;
  margin-top: 315px;
}

.offer {
  font-size: 24px;
  padding: 70px;
}
