.container {
  background-color: var(--violet-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  width: 600px;
  padding: 5px;
  margin-bottom: 2em;
}
