@import "../../../style/_template.css";


.reviews-info {
    max-width: clamp(260px, 40vw, 560px);
    width: 100%;
    height: clamp(130px, 20vw, 330px);
    overflow: hidden;

    @media (max-width: 860px) and (max-height: 838px) and (min-height: 739px) {
        height: 20vh;
    }

}

.reviews-info:nth-child(2n) {
    margin-right: 14%;
}

.reviews-info:nth-child(2n+1) {
    margin-left: 14%;
}

.reviews-info:nth-child(1),
.reviews-info:nth-child(2) {
    margin-top: 5%;
}

.reviews-info:nth-child(3),
.reviews-info:nth-child(4) {
    margin-bottom: 7%;
    margin-top: 2%;
}

@media (max-width: 1640px) {
    .reviews-info:nth-child(1),
    .reviews-info:nth-child(2) {
        margin-top: 8%;
    }

    .reviews-info:nth-child(3),
    .reviews-info:nth-child(4) {
        margin-top: -10%;
    }
}

@media (max-width: 1455px) {
    .reviews-info:nth-child(1),
    .reviews-info:nth-child(2) {
        margin-top: 5%;
    }

    .reviews-info:nth-child(3),
    .reviews-info:nth-child(4) {
        margin-top: -30%;
    }
}

@media (min-width: 953px) and (max-width: 1150px) {
    .reviews-info:nth-child(1),
    .reviews-info:nth-child(2) {
        margin-top: 10%;
    }

    .reviews-info:nth-child(3),
    .reviews-info:nth-child(4) {
        margin-top: -50%;
    }
}

@media (max-width: 950px) {
    .reviews-info:nth-child(2n) {
        margin-right: 0%;
    }

    .reviews-info:nth-child(2n+1) {
        margin-left: 0%;
    }

    .reviews-info:nth-child(1),
    .reviews-info:nth-child(2) {
        margin-top: 0%;
    }

    .reviews-info:nth-child(3),
    .reviews-info:nth-child(4) {
        margin-bottom: 0%;
        margin-top: -10%;
    }

    .reviews-info:nth-child(1){
        margin-bottom: -10%;
    }



}

@media (max-width: 750px) {

    .reviews-info:nth-child(1){
        margin-bottom: -30%;
    }

    .reviews-info:nth-child(2){
        margin-bottom: -4%;
    }

    .reviews-info:nth-child(3),
    .reviews-info:nth-child(4) {
        margin-bottom: 0%;
        margin-top: -20%;
    }

    .reviews-info:nth-child(4){
        margin-top: -30%;
    }
}

@media (max-width: 400px) {

    .reviews-info:nth-child(1){
        margin-bottom: 0%;
    }

    .reviews-info:nth-child(2){
        margin-bottom: 0%;
    }

    .reviews-info:nth-child(3),
    .reviews-info:nth-child(4) {
        margin-bottom: 0%;
        margin-top: 0%;
    }

    .reviews-info:nth-child(4){
        margin-top: 0%;
    }
}