.device {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    max-width: 1400px;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.deviceTitle {
    width: 86%;
    font-weight: 800;
    margin-bottom: 90px;

    @media screen and (max-width: 380px) {
        display: none;
    }
}

.titleLight {
    color: var(--white-color);
    text-align: start;
    font-weight: 800;
    font-size: clamp(40px, 7vw ,64px);
    margin-bottom: 45px;
    padding-left: 20px;
}

.titleViolet {
    color: var(--violet-color);
    text-align: end;
    font-size: clamp(40px, 7vw ,64px);
    padding-right: 20px;
    letter-spacing: 1px;
}

.images {
    margin-bottom: clamp(84px, 3vw, 232px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .deviceImg {
    z-index: 2;
    width: 50%;

    @media screen and (max-width: 380px) {
        width: 75%;
        margin-top: 25px;
    }

  }
  
  .electricity {
    width: 120%;
    position: absolute;
    top: 150px;
    z-index: -1;
    overflow: hidden;
    transform: rotate(-15deg);

    @media screen and (max-width: 599px) {
    top: 200px;

  }

  @media screen and (max-width: 500px) {
    top: 270px;    
      }

      @media screen and (max-width: 380px) {
        top: 60px;
        transform: rotate(15deg);
    }
}