.container {
  font-family: var(--font-family);
  background-color: var(--black-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid var(--violet-color);
  border-radius: 20px;
  padding-bottom: 10px;
  height: clamp(450px, 59vw, 740px);
  width: clamp(300px, 70vw, 960px);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1160px) {
  .container {
    height: 70%;
    width: 78vw;
  }
}

@media screen and (max-width: 599px) {
  .container {
    width: 80vw;
    height: 122vw;
    padding-bottom: 0px;
  }
}
