.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 408px;
  margin-top: 33px;
}

.details {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 70px;
  margin-bottom: 20px;
}
