.button {
  cursor: pointer;
  color: var(--violet-color);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 600;
  background-color: var(--black-color);
  border-radius: 40px;
  border: none;
  width: 260px;
  height: 72px;
}
