@import "../../style/_template.css";

.header {
  color: var(--white-color);
  border-radius: 0 0 40px 40px;
  border: 4px solid rgba(145, 83, 223, 0.6);
  border-top-style: none;
  background: #06000d;
  max-height: 262px;
  position: fixed;
  max-width: 1400px;
  width: 100%;
  z-index: 3;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.blokText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 7%;
}

.title {
  display: flex;
  cursor: pointer;
}

.titleText {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(24px, 4vw, 48px);
  line-height: 44%;
  text-transform: uppercase;
}

.menuLink {
  color: var(--white-color);
  text-decoration: none;
}

.textList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.menu {
  max-width: 70%;
  width: 100%;
}

.menuList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menuLi {
  font-family: var(--font-family);
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 200;
  color: var(--white-color);
}

.language {
  display: flex;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 87%;
}

.slash {
  padding: 0 5% 0 5%;
}

.logoImg {
  width: 100%;
}

.active {
  border-bottom: 1px solid white;
}

.mobileText {
  display: none;
  width: 90%;
}

.open {
  display: none;
}

.btnOpen {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.languageBlock {
  display: flex;
}

.langBtn {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 87%;
}

.slash {
  font-size: clamp(16px, 2vw, 24px);
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .header {
    height: 198px;
  }

  .menu {
    display: none;
  }

  .title {
    order: 3;
  }

  .titleText {
    text-align: end;
    margin-left: 45%;
  }

  .mobileText {
    display: block;
    order: 2;
  }

  .textPowerBank {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
  }

  .span {
    color: var(--violet-color);
  }

  .open {
    display: block;
  }

  .language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
}