@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --violet-color: #9153df;
  --light-color: #dbccee;
  --black-color: #000000;
  --white-color: #ffffff;
  --font: "Montserrat", sans-serif;
}
