:root {
    --violet-color: #9153DF;
    --light-color: #DBCCEE;
    --black-color: #000000;
    --white-color: #ffffff;
    --font-family: "Montserrat", sans-serif;
    --second-family: "SF Pro Text", sans-serif;
    --third-family: "Inter", sans-serif;
}
