@import './_template.css';
@import './_fonts.css';



* {
    padding: 0;
    margin: 0;
    scroll-margin-top: 130px;

    @media (max-width: 440px) {
        scroll-margin-top: 90px;
    }
}

body {
    background-color: var(--black-color);
}