.input {
  color: var(--white-color);
  font-size: clamp(23px, 2vw, 32px);
  font-weight: 500;
  background-color: var(--black-color);
  box-sizing: border-box;
  border: 2px solid var(--violet-color);
  border-radius: 20px;
  height: clamp(50px, 12vw, 75px);
  width: clamp(200px, 60vw, 820px);
  padding-left: 25px;
  margin-bottom: 18px;
}

.input:focus {
  border: 2.5px solid var(--light-color);
}

::placeholder {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 200;
  color: var(--white-color);
}

.checkboxContainer {
  color: var(--white-color);
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 200;
  user-select: none;
  margin: 30px;
  width: clamp(290px, 58vw, 820px);
}

.checkbox {
  margin-right: 7px;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

/* 
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  border: 3px solid var(--violet-color);
  border-radius: 4px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

input[type="checkbox"]:checked + label::after {
  content: "✔";
  color: var(--white-color);
  position: absolute;
  left: 100px;
}

input[type="checkbox"] + label {
  cursor: pointer;
  font-size: 24px;
  font-weight: 200;
  color: var(--white-color);
} */

.link {
  color: var(--white-color);
}

.span {
  color: var(--violet-color);
}

@media screen and (max-width: 990px) {
  .input {
    width: 65vw;
    height: 8vw;
  }
}

@media screen and (max-width: 599px) {
  .input {
    width: 65vw;
    height: 9vw;
    font-size: 15px;
  }

  ::placeholder {
    font-size: 15px;
  }

  .checkboxContainer {
    text-align: center;
    width: 70vw;
    margin-top: 0px;
  }

  .terms {
    font-size: 12px;
  }
}
