.image {
  border-radius: 20px;
  object-fit: contain;
  max-width: 52%;
  height: auto;
}

@media screen and (max-width: 990px) {
  .image {
    object-fit: contain;
    width: clamp(25rem, 2vw, 29rem);
    margin-right: 3vw;
  }
}

@media screen and (max-width: 599px) {
  .image {
    display: none;
  }
}
