.registration {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-top: 2%;
}

@media screen and (max-width: 990px) {
  .container {
    margin: 0 auto;
    padding-left: 5%;
  }
}
